<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Gulper</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <main class="home">

      <header>
        {% include 'header' %}
      </header>

      <div class="content-container">
        <section>
          <article class="mission-statement">
            <h3>SMART TART&trade;</h3>
            <p>Smart Co. is better-for-you snack and foods company that is on a mission to take out the artificially flavored,   sugar filled, and nutrient lacking snack foods you love and replace with products reinvigorated through smart   ingredients that are good for you.</p>
          </article>
          <ul class="products">
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <ul class="product-stats">
            <li>
              <p>All Natural</p>
              <p>Ingredients</p>
            <li>
              <p>Non Gmo</p>
              <p>Ingredients</p>
            </li>
            <li>
              <p>10g</p>
              <p>Protein</p>
            </li>
            <li>
              <p>0g</p>
              <p>Trans Fat</p>
            </li>
            <li>
              <p>150mg</p>
              <p>Potassium</p>
            </li>
            <li>
              <p>B-6, B12</p>
              <p>Vitamins</p>
            </li>
          </ul>
        </section>
        <section class="instagram">
          {% include 'instagram' %}
        </section>
      </div>

      <footer>
          {% include 'footer' %}
        </footer>

    </main>
    <script src="js/main.js"></script>
  </body>
</html>
