<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gulper</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <main class="product-details">

      <header>
        {% include 'header' %}
      </header>

      <div class="content-container">

        <section class="buy">
          <div class="buy-wrapper">
            <article class="top-left">
              <hgroup class="details-mobile">
                <div></div>
                <h3>Blueberry Smart Tart</h3>
              </hgroup>

              <div class="prod-img">
              </div>
              <ul class="product-stats">
              <li>
                <p>All Natural</p>
                <p>Ingredients</p>
              <li>
                <p>Non Gmo</p>
                <p>Ingredients</p>
              </li>
              <li>
                <p>10g</p>
                <p>Protein</p>
              </li>
              <li>
                <p>0g</p>
                <p>Trans Fat</p>
              </li>
              <li>
                <p>150mg</p>
                <p>Potassium</p>
              </li>
              <li>
                <p>B-6, B12</p>
                <p>Vitamins</p>
              </li>
            </ul>
              <a href="#">View Full Nutrition</a>
            </article>
            <aside class="top-right">
              <div class="all-natural-desktop"></div>
              <h3 class="details-desktop-heading">Blueberry Smart Tart</h3>
              <p>We go the extra mile to make sure our products are high in protein, potassium, and vitamins while being low in calories, sugar, sodium, and fat.</p>
              <form>
                <div>
                  <input id="one-time" class="check" type="checkbox">
                  <label for="one-time" class="checkbox-label top">One time order<span class="one-time-quantity">box of 5 tarts</span></label>
                  <span class="one-time-price">$5.79</span>
                </div>
                <div>
                  <input id="subscribe-save" class="check" type="checkbox" checked>
                  <label for="subscribe-save" class="checkbox-label">Subscribe & <span class="save-15">Save 15%</span></label>
                  <span class="subscribe-price">$5.00<span>
                </div>
                <div class="add-to-cart">
                  <input class="qty" value="5" /><button><span>Add to Cart</span></button>
                </div>
              </form>
            </aside>
          </div>
        </section>


        <section class="ingredients">
          <div class="ingredients-wrapper">
            <article class="bottom-left">
              <h4>Snack Smart</h4>
              <ul>
                <li>No Fructose Corn Syrup</li>
                <li>No Preservatives</li>
                <li>No Artificial Ingredients</li>
                <li>No Soybean oil</li>
                <li>No TBHQ</li>
                <li>No Trans Fat</li>
                <li>No Dextrose</li>
                <li>No Monocalcium Phosphate</li>
                <li>No Modified Wheat Starch</li>
                <li>No Enriched Flour</li>
              </ul>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
            </article>
            <aside class="bottom-right">
              <h4>Fully Baked, Ready to Eat</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
              <h4>Ingredients</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
            </aside>
          </div>
        </section>


        <section class="instagram">
          {% include 'instagram' %}
        </section>

      </div>

      <footer>
          {% include 'footer' %}
      </footer>

    </main>
    <script src="js/main.js"></script>
  </body>
</html>
