// just variable declarations
$logo-green: #62aa4b;
$footerDarkGreen: #63a44d;
$footerLightGreen: #6eb058;
$livingBetterGreen: #6caf45;
$bg-gray: #f7f7f7;
$gray: #a4a4a4;
$checkout-green: #5cae40;
$red: #d14444;

$break: 912px;
$tablet: 768px;
$mobile: 420px;

$bar-width: 34px;
$bar-height: 4px;
$bar-spacing: 12px;
