// just variable declarations
$logo-green: #62aa4b;
$footerDarkGreen: #63a44d;
$footerLightGreen: #6eb058;
$twilight-blue: #0c346c;
$twilight-blue-two: #0a467f;
$warm-grey: #878787;
$greyish-brown: #545454;
$slate: #394b5a;

$mobile: 767px;
