footer {
  background: $footerLightGreen;
  width: 100%;
  color: white;
  margin-top: 70px !important;
  h5, h6 {
    text-transform: uppercase;
  }
  a {
    color: white;
  }
  article.footer-top {
    background: $footerDarkGreen;
    ul {
      max-width: 730px;
      margin: 0 auto;
      @media (max-width: 912px) {
        text-align: center;
      }
      @media (max-width: $mobile) {
        padding-left: 5%;
        padding-right: 5%;
        text-align: left;
      }
      li {
        display: inline-block;
        width: 24.2%;
        margin: 20px 0;
        @media (max-width: 912px) {
          width: 32.9%;
        }
        @media (max-width: $mobile) {
          display: block;
          width: 220px;
          margin: 0 auto;
          padding: 20px 0;
        }
        h5 {
          padding-top: 2px;
          @media (max-width: $mobile) {
            font-size: 2rem;
          }
        }
        div.icons {
          float:left;
          padding-right: 14px;
          vertical-align: middle;
        }
        p {
          text-decoration: underline;
        }
        &.newsletter {
          .subscribe {
            font-family: 'GTPressuraLight';
            border-bottom: 1px solid white;
            @media (max-width: 912px) {
              text-align: center;
              padding-left: 5%;
              padding-right: 5%;
            }
            button {
              background: transparent;
              color: white;
              border: 0;
              outline: 0;
              cursor: pointer;
              font-family: 'AmsiProUltra';
              font-size: 1.2rem;
              text-transform: uppercase;
              margin-left: 32px;
            }
          }
          input[type="text"] {
            width: 100%;
            background: #4FAB4F;
            font-size: 0.8rem;
            border: 0;
            color: #fff;
            outline: none;
            opacity: .4;
            &::-webkit-input-placeholder {
              color: #fff;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: #fff;
            }
            &::-moz-placeholder {  /* Firefox 19+ */
              color: #fff;
            }
            &:-ms-input-placeholder {
              color: #fff;
            }
          }
        }
      }
    }
  }

  article.footer-bottom {
    padding-top: 26px;
    max-width: 730px;
    margin: 0 auto;
    aside.bottom-left {
      text-align: left;
      display: inline-block;
      width: 49%;
      vertical-align: top;
      max-width: 250px;
      p {
        padding: 8px 0;
        font-size: 1rem;
        line-height: 1.2;
      }
      p:last-child {
        padding: 8px 0;
        font-size: 0.8rem;
        @media (max-width: $mobile) {
          text-align: center;
        }
      }
      h6 {
        font-family: 'AmsiProUltra';
        text-transform: uppercase;
        @media (max-width: $mobile) {
          text-align: center;
        }
      }
      @media (max-width: $mobile) {
        padding-left: 5%;
        padding-right: 5%;
      }
    }

    ul.bottom-right {
      text-align: right;
      display: inline-block;
      width: 49%;
      vertical-align: top;
      float: right;
      li {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        padding-left: 15px;
        list-style-type: none;
        h6 {
          padding-bottom: 4px;
        }
        a {
          font-family: 'GTPressuraLight';
          font-size: 0.8rem;
        }
        @media (max-width: $mobile) {
          width: 100%;
          text-align: center;
          padding: 0;
        }
      }
      @media (max-width: $mobile) {
        width: 100%;
        display: block;
      }
    }
  }
}
