// import example _global.scss takes generic values
//************************
// imports of precompile sass elements are the first import to global
// always start with reset @ the top-most ruleset
@import '__variables';
@import '__mixins';
@import '__reset';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  transition:all 300ms ease-in;
  font-size: 10px;
  width: 100%;
  //background-image: url(../img/cart.png);
  //background-size: 100%;
  //height: auto;
}
body {
  opacity:0;
}
body.has-active-menu {
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "AmsiProUltra";
  text-transform: uppercase;
}
h1 {
  font-size: 8.4rem;
  @media (max-width: $tablet) {
    font-size: 7rem;
  }
  @media (max-width: $mobile) {
    font-size: 6rem;
  }
}
h2 {
  font-size: 4.5rem;
  @media (max-width: $break) {
    font-size: 4rem;
  }
  @media (max-width: $mobile) {
    font-size: 3rem;
  }
}
h3 {
  font-size: 3rem;
  @media (max-width: $break) {
    font-size: 2.5rem;
  }
  @media (max-width: $mobile) {
    font-size: 2rem;
  }
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1rem
}
a {
  display: block;
  text-decoration: none;
  //font-family: "AmsiProUltra";
}
p{
  font-family: 'GTPressuraLight';
  font-size: 1.2rem;
  line-height: 1.9;
}
ul {
  list-style-type: none;
}

:not(header) {
  position:relative;
}

.content-container {
  width: 100%;
  padding-top: 34px;
}

section {
  width: 100%;
  padding: 50px 0px 0px 0px;
  margin: 0px auto;
}
