// import example _global.scss takes generic values
//************************
// imports of precompile sass elements are the first import to global
// always start with reset @ the top-most ruleset
@import '__variables';
@import '__mixins';
@import '__reset';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
p{
  font-family: 'GTPressuraLight';
  font-size: 12px;
  line-height: 2;
}

:not(header) {
  position:relative;
}

.content-container {
  width: 100%;
}

section {
  padding: 75px 0px 0px 0px;
  margin: 0px auto;
}



.instagram {
  .hashtag {
    font-family: 'GTPressuraBold';
    text-align: center;
    padding-bottom: 30px;
  }
  max-width: 900px;
  margin: 0 auto;

  @media (max-width: $mobile) {
    padding-left: 5%;
    padding-right: 5%;
  }

  .image {
    display: inline-block;
    width: 23.7%;
    padding: 0 3px;

    @media (max-width: $mobile) {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }
}
