// import example _global.scss takes generic values
//************************
// imports of precompile sass elements are the first import to global
// always start with reset @ the top-most ruleset
@import '__variables';
@import '__mixins';
@import '__reset';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  font-size: 10px;
  background-image: url(../img/home.png);
  width: 100%;
  height:1600px;
  background-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "AmsiProUltra";
}
h1 {
  font-size: 8.4rem;
}
h2 {
 font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem
}
a {
  display: block;
  text-decoration: none;
  //font-family: "AmsiProUltra";
}
p{
  font-family: 'GTPressuraLight';
  font-size: 1.2rem;
  line-height: 1.9;
}

:not(header) {
  position:relative;
}

.content-container {
  width: 100%;
  padding-top: 34px;
}

section {
  width: 100%;
  padding: 50px 0px 0px 0px;
  margin: 0px auto;
}
