header {
  width: 100%;
  height: 49vw;
  font-family: 'AmsiProUltra';
  background-color: white;
  @media (max-width: 912px) {
    height: 446px;
  }
  nav {
    z-index: 1000;
    position:fixed;
    width: 100%;
    padding: 0 4% 0 4%;
    height: 66px;
    background-color: white;
    li {
      display: inline-block;
    }
    a {
      display:inline-block;
      text-decoration: none;
      color: #000;
    }
    div.logo {
      width: 24%;
      height: 55px;
      display: block;
      float: left;
      margin-top: 7px;
      .logo-st0 {
        fill:#5FA945;
      }
      .logo-st1 {
        fill:#FFFFFF;
      }
    }
    ul.center-links {
      display: inline-block;
      width:50%;
      position: relative;
      text-align: center;
      font-size: 1.1rem;
      bottom: -44px;
      @media (max-width: $mobile) {
        display: none;
      }
      li {
      padding-right: 9px;
      padding-left: 9px;
      }
      img {
        width: 6px;
        margin-left: 2px;
        vertical-align: middle;
      }
    }
    aside.right {
      width:24%;
      height: 100%;
      position: relative;
      float: right;
    }
    ul.top-links {
      top: 10px;
      text-align: right;
      font-size: 8px;
      li {
        $bar-width: 42px;
        $bar-height: 5px;
        $bar-spacing: 15px;
        .hamburger-menu {
          transition:all 300ms ease-in;
          display: none;
          z-index: 1001;
          position: relative;
          top:5px;
          width: $bar-width;
      	  height: $bar-height + $bar-spacing*2;
      	  cursor: pointer;
          @media (max-width: $mobile) {
            display: block;
          }
        }
        .hamburger {
          display: none;
          position: relative;
          margin-right: 0;
        }
        .bar,
        .bar:after,
        .bar:before {
          width: $bar-width;
      	  height: $bar-height;
        }
        .bar {
      	  position: relative;
      	  transform: translateY($bar-spacing);
          background: black;
      	  transition: all 0ms 300ms;
          &.animate {
            background: rgba(255, 255, 255, 0);
          }
        }
        .bar:before {
      	  content: "";
      	  position: absolute;
      	  left: 0;
      	  bottom: $bar-spacing;
      	  background: black;
      	  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        .bar:after {
        	content: "";
        	position: absolute;
        	left: 0;
        	top: $bar-spacing;
        	background: black;
        	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        .bar.animate:after {
        	top: 0;
        	transform: rotate(45deg);
        	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
        }
        .bar.animate:before {
        	bottom: 0;
        	transform: rotate(-45deg);
        	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
        }
        @media (max-width: $mobile) {
          display: none;
          &:last-child {
            display: block;
            position: absolute;
            right: 0;
          }
        }
      }
      li.non-icon {
        a {
          padding: 0px 2px;
        }
        span {
          color: #a4a4a4;
        }
      }
      li:nth-child(3) {
        margin-left: 2px;
      }
      svg {
        vertical-align: middle;
        padding-bottom: 2px;
        margin: 0;
      }
      a, div {
        color: black;
        opacity: .4;
        transition: all 250ms;
        &:hover {
          opacity: 1  ;
        }
      }

    }
    ul.bottom-links {
      text-align: right;
      position: relative;
      margin-top: 28px;
      font-size: 1.1rem;
      li {
        padding: 0px 2px 0px 2px;
        @media (max-width: $mobile) {
          display: none;
        }
        &:nth-child(2) {
          vertical-align: middle;
          padding-bottom: 2px;
        }
      }
    }
  }
  div.hero-area {
    position: relative;
    width: 92%;
    height: 49vw;
    left: 4%;
    background-image: url("../img/hero-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 912px) {
      height: 446px;
      background-position: bottom right;
    }
    hgroup {
      text-align: center;
      color: white;
      padding: 21.5vw 5vw;
      h2 {
        display: none;
      }
      h5 {
        font-family: "GTPressuraBold";
        padding-bottom: 24px;
        letter-spacing: 0.5px;
      }
      a {
        font-family: "AmsiProUltra";
        color: white;
        font-size: 1.4rem;
        padding: 12px 20px 7px 20px;
        width: 154px;
        margin: auto;
        background-color: $logo-green;
        border: 2px solid white;
      }
    }
  }
}
