header {
  ul, li {
    display: inline-block;
    padding: 0;
  }

  ul {
    width: 100%;
    text-align: center;
  }

  li {
    font-family: 'AmsiProUltra';
    text-transform: uppercase;
    padding-right: 15px;
    padding-left: 15px;

    &.top-logo {
      float: left;
      padding: 0;
    }

    &.store-locator {
      float: right;
      padding: 0;
    }
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .top-links {
    font-family: 'AmsiProUltra';
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 12px;
    a {
      color: black;
      opacity: .4;
      padding-right: 10px;
      padding-left: 10px;
      transition: all 250ms;

      &:hover {
        opacity: 1;
      }
    }
  }
}
