header {
  width: 100%;
  height: 49vw;
  background-color: white;
  nav {
    z-index: 1000;
    position:fixed;
    width: 100%;
    padding: 0 4% 0 4%;
    height: 66px;
    background-color: white;
    .top-logo {
      width: 55px;
      height: 55px;
      float: left;
      margin-top: 7px;
      .logo-st0 {
        fill:#5FA945;
      }
      .logo-st1 {
        fill:#FFFFFF;
      }
    }

    ul {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
    li {
      display: inline-block;
      font-family: 'AmsiProUltra';
      &.store-locator {
        float: right;
        padding: 0;
      }
    }
    a {
      text-decoration: none;
      color: #000;
    }
    .top-links {
      position: relative;
      width: 200px;
      height: 12px;
      top: 7px;
      right: 0px;
      font-size: 8px;
      float: right;
      .right-border {
        padding: 2px 6px 0 6px;
        // border-right: 2px solid #a4a4a4;
      }
      li:nth-child(3) {
        margin-left: 7px;
      }
      a {
        color: black;
        opacity: .4;
        transition: all 250ms;
        &:hover {
          opacity: 1  ;
        }
      }
      svg {
        vertical-align: middle;
        padding-bottom: 2px;
        margin: 0;
      }

    }
    .bottom-links {
      position: relative;
      font-size: 12px;
      bottom: 16px;
      li {
      padding-right: 15px;
      padding-left: 15px;
      }
    }
    .bottom-right-links {
      width: 155px;
      float: right;
      position: relative;
      bottom: 35px;
      right: 0px;
      font-size: 12px;
      li {
        padding: 0px 4px 0px 4px;
        &:nth-child(2) {
          vertical-align: middle;
          padding-bottom: 4px;
        }
      }
    }
  }
  div.hero-area {
    position: relative;
    width: 92%;
    height: 49vw;
    left: 4%;
    background-image: url("../img/hero-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    hgroup {
      text-align: center;
      color: white;
      padding: 21.5vw 5vw;
      h5 {
        font-family: "GTPressuraBold";
        padding-bottom: 24px;
        letter-spacing: 0.5px;
      }
      a {
        color: white;
        font-size: 1.4rem;
        padding: 12px 20px 7px 20px;
        width: 154px;
        margin: auto;
        background-color: $logo-green;
        border: 2px solid white;
      }
    }
  }
}
/*@media only screen and (max-width: 1175px) {
  header {
    height: 570px;
  }
  div.hero-area {
    height: 505px;
  }
}
@media only screen and (max-width: 1000px) {
  header {
    height: 400px;
  }
}
@media only screen and (max-width: 900px) {
  header {
    height: 300px;
  }
}*/
