article.mission-statement {
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 44px;
  @media (max-width: $tablet) {
    width: 700px;
    padding: 0 15% 70px 15%;
  }
  h3 {
    text-align: center;
    padding-bottom: 5px;
  }
  p {
    text-align: center;
  }
}
ul.products {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  @media (max-width: $tablet) {
    overflow: auto;
    white-space: nowrap;
    padding: 40px 0px 30px 0px;
    background-color: $bg-gray;
  }
  li {
    display: inline-block;
    width: 26%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px 28px;
    @media (max-width: 912px) {
      margin: 0px 18px;
    }
    @media (max-width: $tablet) {
      position:relative;
      width: 100%;
      margin: 0 auto;
    }


  }
  img {
    width: 100%;
    @media (max-width: $tablet) {
      width: 300px;
    }
    @media (max-width: $mobile) {
      width: 60%;
    }
  }
}
ul.product-stats {
  padding-top: 22px;
  text-align: center;
  @media (max-width: $tablet) {
    padding: 50px 0px;
  }
  li {
    display: inline-block;
    padding: 0px 12px;
    p:first-child {
      font-family: 'GTPressuraBold';
      font-size: 1.4rem;
    }
    p:last-child {
      font-family: 'GTPressuraLight';
      font-size: 0.8rem;
      line-height: 0;
    }
    @media (max-width: $mobile) {
      padding-bottom: 15px;
      display: block;
    }
  }
}
section.instagram {
  @media (max-width: $tablet) {
    padding: 0;
  }
  article {
    width: 750px;
    max-width: 100%;
    margin: 26px auto 0px auto;
    @media (max-width: $tablet) {
      padding-left: 5%;
      padding-right: 5%;
    }
    @media (max-width: $mobile) {
      margin: 0 auto;
      padding: 0;
    }
    h5 {
      font-family: 'GTPressuraBold';
      text-align: center;
      display:none;
    }
    ul {
      text-align: center;

      @media (max-width: $mobile) {
        overflow: auto;
        white-space: nowrap;
      }
      li {
        display: inline-block;
        width: 23%;
        height: 178px;
        margin: 0px 4px;
        background-repeat: no-repeat;
        background-size: cover;

        &:nth-child(1) {
          background-image: url(../img/image1.png);
        }
        &:nth-child(2) {
          background-image: url(../img/image2.png);
        }
        &:nth-child(3) {
          background-image: url(../img/image3.png);
        }
        &:nth-child(4) {
          background-image: url(../img/image4.png);
        }
        @media (max-width: $tablet) {
          width: 40vw;
          margin: 2%;
          height: 40vw;
        }
        @media (max-width: $mobile) {
          position:relative;
          width: 100%;
          height: 90vw;
          margin: 0 auto;
          background-size: 70%;
          background-position: center;
        }
      }
    }
  }
}
