.hero-image {
  max-width: 1080px;
  margin: 0 auto;
  padding-bottom: 50px;

  img {
    width: 100%;
  }
}

.text {
  max-width: 550px;
  margin: 0 auto;
  padding-bottom: 50px;

  h2 {
    font-family: 'GTPressuraBold';
    text-align: center;
  }

  p {
    font-family: 'GTPressuraLight';
    line-height: 30px;
  }
}

.products {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 30px;

  .product {
    display: inline-block;
    width: 32.7%;
    text-align: center;

    img {
      width: 90%;
    }
  }
}

.ingredients {
  padding-bottom: 30px;

  .ingredients-top {
    font-family: 'GTPressuraBold';
    font-size: 22px;
  }

  ul {
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    font-family: 'GTPressuraLight';
    padding-left: 10px;
    padding-right: 10px;
  }
}

.instagram {
  width: 800px;
  margin: 0 auto;

  .image {
    display: inline-block;
    width: 24.5%;

    img {
      width: 100%;
    }
  }
}
