.mission-statement {
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  @media (max-width: $mobile) {
    padding-left: 5%;
    padding-right: 5%;
  }
  h2 {
    font-family: 'AmsiProUltra';
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
  }
  p {
    text-align: center;
  }
}

ul.products {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  @media (max-width: $mobile) {
    padding-left: 5%;
    padding-right: 5%;
  }
  li.product {
    display: inline-block;
    width: 26%;
    height: 150px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px 28px 0px 28px;
    @media (max-width: $mobile) {
    position:relative;
    left: 10%;
    width: 80%;
    height: 300px;
    margin: auto;
    }
  }
  li:nth-child(1) {
    background-image: url("../img/product1.png");
  }
  li:nth-child(2) {
    background-image: url("../img/product2.png");
  }
  li:nth-child(3) {
    background-image: url("../img/product3.png");
  }
}

.ingredients {
  padding-bottom: 100px;

  .ingredients-top {
    font-family: 'GTPressuraBold';
    font-size: 22px;
  }

  ul {
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    font-family: 'GTPressuraLight';
    padding-left: 10px;
    padding-right: 10px;

    @media (max-width: $mobile) {
      padding-bottom: 15px;
      display: block;
    }
  }
}
