<div class="footer-top">
  <div class="social-content">
    <div class="social-link">
      <div class="social-image"></div>
      <div class="follow-us-container">
        <span class="social-header">FOLLOW US</span><br>
        <span class="smartco-link">@smartco</span>
      </div>
    </div>

    <div class="social-link">
      <div class="social-image"></div>
      <div class="follow-us-container">
        <span class="social-header">LIKE OUR PAGE</span><br>
        <span class="smartco-link">@smartco</span>
      </div>
    </div>

    <div class="social-link">
      <div class="social-image"></div>
      <div class="follow-us-container">
        <span class="social-header">FOLLOW US</span><br>
        <span class="smartco-link">@smartco</span>
      </div>
    </div>

    <div class="social-link newsletter">
      <div class="subscribe">
        Join our Newsletter
        <button>Subscribe</button>
      </div>

      <div class="email-input">
        <input type="text" placeholder="Enter email for 10% off first purchase">
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="about-content">
    <div class="left">
      <div class="about">
        <h2>About smart co</h2>
        <div class="about-copy">
          Smart Co. is a better-for-you snack and foods company that is on a mission to take out the artificially flavored, sugar filled, and nutrient lacking snack foods you love and replace with products reinvigorated through smart ingredients that are good for you.
        </div>

        <div class="copyright">
          Copyright &copy; 2016 The Smart Co.
        </div>
      </div>
    </div>

    <div class="right">
      <div class="details">
        <div class="details-column">
          <ul>
            <li class="heading">Contact</li>
            <li>508-627-1270</li>
            <li><a href="mailto:info@smartco.com"></a></li>
          </ul>
        </div>

        <div class="details-column">
          <ul>
            <li class="heading">The Smart Co.</li>
            <li>FAQs</li>
            <li>Our Community Blog</li>
            <li>NB Ambassadors</li>
          </ul>
        </div>

        <div class="details-column">
          <ul>
            <li class="heading">Legal</li>
            <li>Privacy Policy</li>
            <li>Terms of Use</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
