<article class="footer-top">

  <ul>
    <li>
      <div class="icons">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	        viewBox="0 0 49.2 49.2" style="enable-background:new 0 0 49.2 49.2;" xml:space="preserve" width="32px" height="32px">
          <style type="text/css">.in-st0{fill:#FFFFFF;}</style>
	          <polygon class="in-st0" points="34.8,19.2 34.8,15.3 34.8,14.7 34.2,14.7 30.3,14.7 30.3,19.2 	"/>
	          <path class="in-st0" d="M24.5,29.7c2.6,0,4.7-2.1,4.7-4.7c0-1-0.3-2-0.9-2.7c-0.9-1.2-2.2-2-3.8-2c-1.6,0-3,0.8-3.8,2
		          C20.1,23,19.8,24,19.8,25C19.8,27.6,21.9,29.7,24.5,29.7z"/>
	          <path class="in-st0" d="M24.6,0C11,0,0,11,0,24.6c0,13.6,11,24.6,24.6,24.6c13.6,0,24.6-11,24.6-24.6C49.2,11,38.2,0,24.6,0z
		          M37.9,22.3v11c0,2.9-2.3,5.2-5.2,5.2H16.3c-2.9,0-5.2-2.3-5.2-5.2v-11v-5.5c0-2.9,2.3-5.2,5.2-5.2h16.4c2.9,0,5.2,2.3,5.2,5.2
		          V22.3z"/>
	          <path class="in-st0" d="M31.8,25c0,4-3.3,7.3-7.3,7.3c-4,0-7.3-3.3-7.3-7.3c0-1,0.2-1.9,0.5-2.7h-4v11c0,1.4,1.2,2.6,2.6,2.6h16.4
		          c1.4,0,2.6-1.2,2.6-2.6v-11h-4C31.6,23.1,31.8,24,31.8,25z"/>
        </svg>
      </div>
      <h5>Follow Us</h5>
      <p>@smartco</p>
    </li>
    <li>
      <div class="icons">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	        viewBox="0 0 49.2 49.2" style="enable-background:new 0 0 49.2 49.2;" xml:space="preserve" width="32px" height="32px">
          <style type="text/css">.fb-st0{fill:#FFFFFF;}</style>
          <path class="fb-st0" d="M24.6,0C11,0,0,11,0,24.6c0,13.6,11,24.6,24.6,24.6s24.6-11,24.6-24.6C49.3,11,38.2,0,24.6,0z M31.1,24.5h-4.3
	          c0,6.8,0,15.2,0,15.2h-6.3c0,0,0-8.3,0-15.2h-3v-5.4h3v-3.5c0-2.5,1.2-6.4,6.4-6.4l4.7,0v5.2c0,0-2.8,0-3.4,0
	          c-0.6,0-1.3,0.3-1.3,1.5v3.2h4.8L31.1,24.5z"/>
        </svg>
      </div>
      <h5>Like Our Page</h5>
      <p>@smartco</p>
    </li>
    <li>
      <div class="icons">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	        viewBox="0 0 49.2 49.8" style="enable-background:new 0 0 49.2 49.8;" xml:space="preserve" width="32px" height="32px">
          <style type="text/css">.tw-st0{fill:#FFFFFF;}</style>
          <path class="tw-st0" d="M24.6,0.5C11,0.5,0,11.5,0,25.1c0,13.6,11,24.6,24.6,24.6c13.6,0,24.6-11,24.6-24.6
	          C49.2,11.5,38.2,0.5,24.6,0.5z M37,20.2c0,0.3,0,0.5,0,0.8c0,8.2-6.2,17.7-17.7,17.7c-3.5,0-6.8-1-9.5-2.8c0.5,0.1,1,0.1,1.5,0.1
	          c2.9,0,5.6-1,7.7-2.7c-2.7-0.1-5-1.8-5.8-4.3c0.4,0.1,0.8,0.1,1.2,0.1c0.6,0,1.1-0.1,1.6-0.2c-2.8-0.6-5-3.1-5-6.1c0,0,0-0.1,0-0.1
            c0.8,0.5,1.8,0.7,2.8,0.8c-1.7-1.1-2.8-3-2.8-5.2c0-1.1,0.3-2.2,0.8-3.1c3.1,3.8,7.6,6.2,12.8,6.5c-0.1-0.5-0.2-0.9-0.2-1.4c0-
            .4,2.8-6.2,6.2-6.2c1.8,0,3.4,0.8,4.5,2c1.4-0.3,2.7-0.8,3.9-1.5c-0.5,1.5-1.4,2.7-2.7,3.4c1.3-0.2,2.5-0.5,3.6-1
	          C39.3,18.2,38.2,19.3,37,20.2z"/>
        </svg>
      </div>
      <h5>Follow Us</h5>
      <p>@smartco</p>
    </li>
    <li class="social-link newsletter">
      <div class="subscribe">
        Join our Newsletter
        <button>Subscribe</button>
      </div>
      <div class="email-input">
        <input type="text" placeholder="Enter email for 10% off first purchase">
      </div>
    </li>
  </ul>



</article>




<article class="footer-bottom">
  <aside class="about-content">
    <div class="left">
      <div class="about">
        <h6>About smart co</h6>
        <div class="about-copy">
          Smart Co. is a better-for-you snack and foods company that is on a mission to take out the artificially flavored, sugar filled, and nutrient lacking snack foods you love and replace with products reinvigorated through smart ingredients that are good for you.
        </div>

        <div class="copyright">
          Copyright &copy; 2016 The Smart Co.
        </div>
      </div>
    </div>
  </aside>

    <div class="right">
      <div class="details">
        <div class="details-column">
          <ul>
            <li class="heading">Contact</li>
            <li>508-627-1270</li>
            <li><a href="mailto:info@smartco.com"></a></li>
          </ul>
        </div>

        <div class="details-column">
          <ul>
            <li class="heading">The Smart Co.</li>
            <li>FAQs</li>
            <li>Our Community Blog</li>
            <li>NB Ambassadors</li>
          </ul>
        </div>

        <div class="details-column">
          <ul>
            <li class="heading">Legal</li>
            <li>Privacy Policy</li>
            <li>Terms of Use</li>
          </ul>
        </div>
      </div>
    </div>

</article>
