<ul>
  <li class="top-logo">
    <img src="img/top-logo.png" />
  </li>
  <li><a href="#">Shop</a></li>
  <li><a href="ingredients.html">Ingredients</a></li>
  <li><a href="ourstory.html">About Us</a></li>
  <li><a href="#">Working With Us</a></li>
  <li class="store-locator"><a href="#">Store Locator</a></li>
</ul>
