<ul>
  <li class="top-logo">
    <img src="img/top-logo.png" />
  </li>
  <li><a href="#">Shop</a></li>
  <li><a href="ingredients.html">Ingredients</a></li>
  <li><a href="ourstory.html">About Us</a></li>
  <li><a href="#">Working With Us</a></li>
  <li class="store-locator"><a href="#">Store Locator</a></li>
</ul>

<div class="top-links">
  <a href="#">MY ACCOUNT</a> |
  <a href="#">CONTACT US</a> |
  <a href="#"><img src="img/instagram-icon.png" /></a>
  <a href="#"><img src="img/facebook-icon.png" /></a>
  <a href="#"><img src="img/twitter-icon.png" /></a>
</div>
