<ul>
  <li class="top-logo">
    <img src="img/top-logo.png" />
  </li>
  <li>Shop</li>
  <li>Ingredients</li>
  <li>About Us</li>
  <li>Working With Us</li>
  <li class="store-locator">Store Locator</li>
</ul>
