<div class="instagram">
  <div class="hashtag">
    #eatsmart
  </div>
  <div class="image">
    <img src="img/image1.png" />
  </div>
  <div class="image">
    <img src="img/image2.png" />
  </div>
  <div class="image">
    <img src="img/image3.png" />
  </div>
  <div class="image">
    <img src="img/image4.png" />
  </div>
</div>
